<!DOCTYPE html>
<html>
<head><title>Idle - AURIZON</title>
    <style rel="stylesheet" type="text/css">
        .general_caption {
            text-align: left;
            font-size: 180%;
            font-family: arial, serif;
            color:#808080;
            font-weight: bold;
            padding: 6px;
        }

        label {
            display: inline-block;
            width: 180px;
            text-align: left;
        }

  .rTable {
        border-collapse: collapse;
        border: 1px solid #808080;
        padding: 8px;
        display: table;
        color:#808080;
  }

  .rTableRow {
        display: table-row;
        border: 1px solid #808080;
        padding: 8px;
        color:#808080;
  }

  .rTableCell, .rTableHead {
      font-family: arial, serif;
      color:#808080;
      display: table-cell;
      column-width: 100px;
      vertical-align: middle;
      height: 25px;
      border: 1px solid #808080;
      padding: 8px;
      color:#808080;      
      }

  .rTableHead2 {
      font-family: arial, serif;
      color:#000000;
      display: table-cell;
      column-width: 100px;
      vertical-align: middle;
      height: 25px;
      border: 1px solid #808080;
      padding: 8px;
      background-color: #D3D3D3;
}   
    ul {
        float:left;
        list-style-type: none;
        margin: 0px 40px 0px 0px;
        padding: 0;
        width: 150px;
        background-color: #808080;
        height:1125px;
    }

    li a {
        font-family: arial, serif;
        display: block;
        color: #ffffff;
        padding: 8px 16px;
        text-decoration: none;
    }

    li b {
        display: block;
        background-color: #555;
        padding: 8px 16px;
        text-decoration: none;
    }

    /* Change the link color on hover */
    li a:hover {
        background-color: #555;
        color: white;
    }
    </style>

</head>
  <body>
  <ul>
    <li><b><img src="/images/logo.png" height="30" width="120" href="website.html"></b></li>
    <li><a href="general">General</a></li>
    <li><a href="network">Network</a></li>
    <li><a href="faultlogs">Fault Logs</a></li>
    <li><a href="eventlogs">Event Logs</a></li>
    <li><a href="logs">Raw Logs</a></li>
  </ul>
  <img src="/images/logo.png" height="60" width="250">
    <form method="post">
      <p></p>
      <div class="general_caption">Network Settings</div>
      <p></p>
      <div class="rTable">
        <div class="rTableRow">
          <div class="rTableHead2"><strong>Name</strong></div>
          <div class="rTableHead2"><span style="font-weight: bold;">Value</span></div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
      <label for="ipaddress">IP Address </label>
          </div>
          <div class="rTableCell">
      <label for="ipaddress"><%= ipaddress %> </label>
<!--
      <input type="text" id="ipaddress" name="ipaddress" value="<%= ipaddress %>" style="width:200px;">
-->
    </div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
      <label for="subnet">Subnet </label>
          </div>
          <div class="rTableCell">
      <label for="subnet"><%= subnet %> </label>
<!--
        <input type="text" id="subnet" name="subnet" value="<%= subnet %>" style="width:200px;">
-->
      </div>
        </div>

        <div class="rTableRow">
    <div class="rTableCell">
            <label for="gateway">Gateway </label>
          </div>
    <div class="rTableCell">
            <label for="gateway"><%= gateway %> </label>
<!--
            <input type="text" id="gateway" name="gateway" value="<%= gateway %>" style="width:200px;">
-->
    </div>
        </div>
<!--
        <div class="rTableRow">
    <div class="rTableCell">
            <label for="dns1">DNS1 </label>
    </div>
    <div class="rTableCell">
            <input type="text" id="dns1" name="dns1" value="<%= dns1 %>" style="width:200px;">
    </div>
        </div>

        <div class="rTableRow">
    <div class="rTableCell">
            <label for="dns2">DNS2 </label>
    </div>
    <div class="rTableCell">
            <input type="text" id="dns2" name="dns2" value="<%= dns2 %>" style="width:200px;">
    </div>
        </div>

        <div class="rTableRow">
    <div class="rTableCell">
            <label for="port">Connection Port </label>
    </div>
    <div class="rTableCell">
            <input type="text" id="port" name="port" value="<%= port %>" style="width:200px;">
    </div>
        </div>

        <div class="rTableRow">
    <div class="rTableCell">
            <label for="interval">Ping Interval (ms) </label>
    </div>
    <div class="rTableCell">
            <input type="text" id="interval" name="interval" value="<%= interval %>" style="width:200px;">
    </div>
        </div>
-->
        <div class="rTableRow">
          <div class="rTableCell">
            <label for="ntpservers">NTP Server</label>
          </div>
          <div class="rTableCell">
            <label for="ntpservers"><%= ntpservers %></label>
<!--
            <input type="text" id="ntpservers" name="ntpservers" value="<%= ntpservers %>" style="width:200px;">
-->
          </div>
        </div>
      </div>

      <br></br>
      <div class="general_caption">Controllers</div>
      <p></p>
      <div class="rTable">
        <div class="rTableRow">
          <div class="rTableHead2"><strong>Unit ID</strong></div>
    <div class="rTableHead2"><span style="font-weight: bold;">Enabled</span></div>
          <div class="rTableHead2"><span style="font-weight: bold;">Address</span></div>
		  <div class="rTableHead2"><span style="font-weight: bold;">QRFL Active Units</span></div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
            <label for="check0" style="width:100px">0 (Master)</label>
    </div>
          <div class="rTableCell">
            <input type="checkbox" id="check0" name="check0" <%= enable0 == 'true' ? 'checked' : ''%> 
            <style="width:60px;text-align:center;">
    </div>
          <div class="rTableCell">
            <input type="text" id="unit0" name="unit0" value="<%= unit0 %>" style="width:200px;">
    </div>
	<div class="rTableCell">
            <label for="qrflcheck0" style="font-weight: bold;width:100px"><%= qrfl_active_units0 %></label>
    </div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
            <label for="check1" style="width:100px">1</label>
          </div>
          <div class="rTableCell">
            <input type="checkbox" id="check1" name="check1" <%= enable1 == 'true' ? 'checked' : ''%> <style="width:60px;text-align:center;">
          </div>
          <div class="rTableCell">
            <input type="text" id="unit1" name="unit1" value="<%= unit1 %>" style="width:200px;">
          </div>
		  <div class="rTableCell">
            <label for="qrflcheck1" style="font-weight: bold;width:100px"><%= qrfl_active_units1 %></label>
		</div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
            <label for="check2" style="width:100px">2</label>
          </div>
          <div class="rTableCell">
            <input type="checkbox" id="check2" name="check2" <%= enable2 == 'true' ? 'checked' : ''%> <style="width:60px;text-align:center;">
          </div>
          <div class="rTableCell">
            <input type="text" id="unit2" name="unit2" value="<%= unit2 %>" style="width:200px;">
          </div>
		  <div class="rTableCell">
            <label for="qrflcheck2" style="width:100px"><%= qrfl_active_units2 %></label>
		</div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
            <label for="check3" style="width:100px">3</label>
          </div>
          <div class="rTableCell">
            <input type="checkbox" id="check3" name="check3" <%= enable3 == 'true' ? 'checked' : ''%> <style="width:60px;text-align:center;">
          </div>
          <div class="rTableCell">
            <input type="text" id="unit3" name="unit3" value="<%= unit3 %>" style="width:200px;">
          </div>
		  <div class="rTableCell">
            <label for="qrflcheck3" style="width:100px"><%= qrfl_active_units3 %></label>
		</div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
            <label for="check4" style="width:100px">4</label>
          </div>
          <div class="rTableCell">
            <input type="checkbox" id="check4" name="check4" <%= enable4 == 'true' ? 'checked' : ''%> <style="width:60px;text-align:center;">
          </div>
          <div class="rTableCell">
            <input type="text" id="unit4" name="unit4" value="<%= unit4 %>" style="width:200px;">
          </div>
		  <div class="rTableCell">
            <label for="qrflcheck4" style="width:100px"><%= qrfl_active_units4 %></label>
		</div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
            <label for="check5" style="width:100px">5</label>
          </div>
          <div class="rTableCell">
            <input type="checkbox" id="check5" name="check5" <%= enable5 == 'true' ? 'checked' : ''%> <style="width:60px;text-align:center;">
          </div>
          <div class="rTableCell">
            <input type="text" id="unit5" name="unit5" value="<%= unit5 %>" style="width:200px;">
          </div>
		  <div class="rTableCell">
            <label for="qrflcheck5" style="width:100px"><%= qrfl_active_units5 %></label>
		</div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
            <label for="check6" style="width:100px">6</label>
          </div>
          <div class="rTableCell">
            <input type="checkbox" id="check6" name="check6" <%= enable6 == 'true' ? 'checked' : ''%> <style="width:60px;text-align:center;">
          </div>
          <div class="rTableCell">
            <input type="text" id="unit6" name="unit6" value="<%= unit6 %>" style="width:200px;">
          </div>
		  <div class="rTableCell">
            <label for="qrflcheck6" style="width:100px"><%= qrfl_active_units6 %></label>
		</div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
            <label for="check7" style="width:100px">7</label>
          </div>
          <div class="rTableCell">
            <input type="checkbox" id="check7" name="check7" <%= enable7 == 'true' ? 'checked' : ''%> <style="width:60px;text-align:center;">
          </div>
          <div class="rTableCell">
            <input type="text" id="unit7" name="unit7" value="<%= unit7 %>" style="width:200px;">
          </div>
		  <div class="rTableCell">
            <label for="qrflcheck7" style="width:100px"><%= qrfl_active_units7 %></label>
		</div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
            <label for="check8" style="width:100px">8</label>
          </div>
          <div class="rTableCell">
            <input type="checkbox" id="check8" name="check8" <%= enable8 == 'true' ? 'checked' : ''%> <style="width:60px;text-align:center;">
          </div>
          <div class="rTableCell">
            <input type="text" id="unit8" name="unit8" value="<%= unit8 %>" style="width:200px;">
          </div>
		  <div class="rTableCell">
            <label for="qrflcheck8" style="width:100px"><%= qrfl_active_units8 %></label>
		</div>
        </div>

        <div class="rTableRow">
          <div class="rTableCell">
            <label for="check9" style="width:107px">9 (Sub-Master)</label>
          </div>
          <div class="rTableCell">
            <input type="checkbox" id="check9" name="check9" <%= enable9 == 'true' ? 'checked' : ''%> <style="width:60px;text-align:center;">
          </div>
          <div class="rTableCell">
            <input type="text" id="unit9" name="unit9" value="<%= unit9 %>" style="width:200px;">
          </div>
		  <div class="rTableCell">
            <label for="qrflcheck9" style="width:100px"><%= qrfl_active_units9 %></label>
		</div>
        </div>
      </div>
      
      <div style="padding:6px;">
        <input type="submit" value="Submit">
      </div>
    </form>
  </body>
</html>

